.example-button-row button,
.example-button-row a{
  margin-top: 20px;
  color: #EEE;
  background-color: #1abc9c;
}

.example-button-row button:hover,
.example-button-row a:hover{
  background-color: #EEE;
  color: #1abc9c;
}

.example-button-row button{
  position:absolute;
  right:25%;
}
.example-button-row a{
  position:absolute;
  left:25%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.taskdetail {
  margin: auto;
  width: 70%;
  display: grid;
  text-align: center;
  margin-top: 5%;
}
.idDetails{
  font-family: Tahoma, Geneva, sans-serif;
  color: #34495e;
  margin: auto;
  width: 70%;
  padding-top: 20px;
  border-radius: 20px 20px 0 0;
 /* background-color: #1abc9c;*/
  background-color: rgb(165, 213, 216);
  margin-bottom: 3%;

}
.descriptionDetails{
  margin-bottom: 3%;
}
.stateDetails{
  margin-bottom: 3%;
}

.mat-form-field{
  height: 100%;
  width: 70%;

}

