<div *ngIf="myTask"  class="taskdetail">

  <div class="idDetails">
    <h2>TASK {{myTask._id}} </h2>
  </div>
  <div class="descriptionDetails">
    <mat-form-field appearance="fill">
      <mat-label>Task Description</mat-label>
      <textarea matInput value="{{myTask._description}}" [maxLength]="255" [(ngModel)]="myTask._description"></textarea>
    </mat-form-field>
  </div>
  <div class="stateDetails">
  <mat-form-field appearance="fill">
    <mat-label>Task State</mat-label>
    <mat-select [(ngModel)]="myTask._state">
      <mat-option *ngFor="let state of statusId" [value]="state.value">
        {{state.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div class="example-button-row">
    <a mat-raised-button matTooltip="Update Task" (click)="updateTask(myTask); reload()" routerLink="/tasks" >
      Submit
    </a>
    <button mat-mini-fab matTooltip="Delete Task" (click)="deleteTask(); reload()" routerLink="/tasks" ><mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>




