 <div class="alltabs" >
  <div class="newTab target" (drop)="drop($event)" (dragover)="allowDrop($event)" >
    <P id="headerTab">New</P>
      <div *ngFor="let newmyTask of filterTask(0, myTasks);  let inew = index" class="viewTask">
        <a id = "{{newmyTask._id}}"  routerLink="/detail/{{newmyTask._id}}"draggable="true" (dragstart)="drag($event)" class="tasklist">
          <div class="id">{{newmyTask._id}}</div>
          <div class="description">{{newmyTask._description}}</div>
          <div class="status">{{getstatus(newmyTask._state)}} </div>
        </a>
      </div>
  </div>

  <div  class="inProgressTab target" (drop)="drop($event)" (dragover)="allowDrop($event)">
    <P id="headerTab">In progress</P>
      <div *ngFor="let ipmyTask of filterTask(1, myTasks);  let ip = index">
        <a id = "{{ipmyTask._id}}"  routerLink="/detail/{{ipmyTask._id}}"draggable="true" (dragstart)="drag($event)" class="tasklist">
          <div class="id">{{ipmyTask._id}}</div>
          <div class="description">{{ipmyTask._description}}</div>
          <div class="status">{{getstatus(ipmyTask._state)}} </div>
          </a>
      </div>
  </div>

  <div  class="completedTab target" (drop)="drop($event)" (dragover)="allowDrop($event)">
    <P id="headerTab">Completed</P>
      <div *ngFor="let completedMyTask of filterTask(2, myTasks);  let ic = index">
        <a id = "{{completedMyTask._id}}" routerLink="/detail/{{completedMyTask._id}}"draggable="true" (dragstart)="drag($event)" class="tasklist">
          <div class="id">{{completedMyTask._id}}</div>
          <div class="description">{{completedMyTask._description}}</div>
          <div class="status">{{getstatus(completedMyTask._state)}} </div>
        </a>
      </div>
  </div>
</div>

<button mat-mini-fab class="addTask" matTooltip="Create new Task" (click)="openDialog()" ><mat-icon>add</mat-icon>
</button>

<button mat-mini-fab class="deleteAll" matTooltip="Delete All Tasks" (click)="deleteAllTasks()" ><mat-icon>directions_boat</mat-icon>
</button>

<div  class="deleteTab target del" (drop)="drop($event)" (dragover)="allowDrop($event)" [hidden]="delete">
    <mat-icon class="del target">delete_outline</mat-icon>
</div>

